.section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}

.section > div {
  display: flex;
  gap: 4em;
}

.img {
  position: relative;
  width: 15em;
  height: 20em;
}

.info{
  width: 100%;
}

.info h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.info ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 0;
}

.buttons {
  display: flex;
  justify-content: end;
}

.buttons button, .buttons a {
  width: 20em;
  text-align: center;
  border: 1px solid #ddd6cb;
  border-radius: 5px;
  padding: 0.5em 2em;
  color: white;
}

.buttons a {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
}

.buttons button {
  background: linear-gradient(90deg, #2964ed, #2964edaf);
}