.item {
  border: 1px solid #ddd6cb;
  border-radius: 2px;
  padding: 2em;
  margin-bottom: 1em;
}

.item .info {
  padding-bottom: 2em;
}

.item h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.2em 0 0.1em 0;
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item .img {
  position: relative;
  width: 50px;
  height: 50px;
}

.item .img img {
  border-radius: 100%;
}

.item div {
  margin-bottom: 0.5em;
}

.item time {
  color: #ddd6cb;
}

.item .rating {
  float: right;
  font-size: 1.5em;
}

.item .comment {
  border: 1px solid #ece5d9;
  border-radius: 2px;
  padding: 1em;
}