.footer {
  background-color: #ddd6cb;
  padding: 5em;
  width: 100%;
}

.footer section {
  margin-bottom: 1em;
}

.footer h4 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.footer li {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.footer a {
  text-decoration: underline;
}

.footer p {
  font-size: 1.5em;
}
